.about{
    display: grid;
    place-items: center;
    min-height: 20vh;

}
.para{
    min-width: 46vw;
}


.avatar{
    display: flex;
    color: aliceblue;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}
.avatar h4{
    margin: 1.1rem 0;
    text-transform: uppercase;
}
.avatar img{
    width: 21%;
    max-width: 20%;
}

@media screen and (max-width:640px){
    .para{
        min-width: 80vw;
    }
    
    
}